#cont{
text-align:center;
padding:30px o;
font-family:;
justfy-content:center;
}
#cont1{
position:relative;
text-align:center;
color:black;
}
.center{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
}
