*{padding:0;
margin:0;
box-sizing:border-box;
}
header
{
width:100%;
height:100vh;
position:relative;
}
nav{
width:100%;
height:100px;
display:flex;
justify-content:space-between;
align-items:center;
padding:0px 100px;
font-family:'Signika',sans-serif;
}
.logo{
font-size:50px;
letter-spacing:5px;
color:#222f3e
}
.menu a{
text-decoration:none;
padding:10px 20px;
font-size:20px;
color:white;
}
.menu a:last-child{
background:#de3031;
border-radius:8px;
letter-spacing:2px;
color:white;
}
.h-text{
max-width:500px;
position:absolute;
top:30%;
left:10%;
z-index:-1;
}
.h-text h2{
font-size:5em;
color:#222f3e;
font-family:'Crimson Text',serif;
}
.h-text p{
font-size:20px;
margin-bottom:30px;
}
.h-text a{
text-decoration:none;
background:#01a3a4;
color:white;
font-size:20px;
padding:10px 20px;
font-family:'Bitter',serif;
border-radius:8px;
}
#more{
background:transparent;
color:#01a3a4;
box-shadow:2px 0px 0px grey;
}
.icon{
position:fixed;
top:50%;
left:0;
transform:translateY(-50%);
display:flex;
flex-direction:column;
}
.icon i{
color:white;
padding:10px;
font-size:25px;
margin:5px 0px;
background:#01a3a4;
}
.icon i:hover{
background:transparent;
transition:0.4s;
border:1px solid black;
color:black;
}

.box{
width:60%;
height:70%;
position:absolute;
top:0;
right:0;
background:rgba(255,234,167,0.7);
z-index:-2;
}
#n{
width:500px;
height:100%;
position:absolute;
right:10%;
top:0;
z-index:-1;
}


















